<div class="min-w-screen min-h-dvh relative">
    <slot />
</div>
<style>
    div {
        background-image: url(/images/mobile/image-hero.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    @media (min-width: 768px) {
        div {
            background-image: url(/images/desktop/image-hero.jpg);
        }
    }
</style>